<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete tech failure</title>
</head>
<body>
<h1>Delete tech inspection page</h1>
    <form action="/tech_inspection/delete_tech_inspection/" method="POST">
        <label for="tech_inspection_id">Tech inspection ID:</label>
        <input type="text" id="tech_inspection_id" name="tech_inspection_id"><br><br>

        <button type="submit">Send</button>

    </form>

<a href="/tech_inspection/">Return to tech inspections</a>
</body>
</html>