<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Find tech failure by ID</h1>
    <form action="/tech_inspection/get_tech_inspection/" method="POST">
        <label for="tech_inspection_id">Tech inspection ID:</label>
        <input type="text" id="tech_inspection_id" name="tech_inspection_id"><br><br>

        <button type="submit">Send</button>
    </form>

    <ul>
        {{ data }}
    </ul>

    <a href="/tech_inspection/">Return to tech inspections</a>
</body>
</html>