<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update employee page</title>
</head>
<body>
  <h1>Форма</h1>
    <form action="/equipment/update_equipment/" method="POST">
        <label for="id">Equipment ID:</label>
        <input type="text" id="id" name="id"><br><br>

        <label for="name">Equipment name:</label>
        <input type="text" id="name" name="name"><br><br>

        <button type="submit">Send</button>
    </form>

    <a href="/equipment/">Return to equipment</a>
</body>
</html>