<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Employee</title>
</head>
<body>
<h1>Delete equipment from area</h1>
    <form action="/equipment_in_area/delete_equipment_by_area/" method="POST">
        <label for="area_id">Area ID:</label>
        <input type="text" id="area_id" name="area_id"><br><br>

        <label for="equipment_id">Equipment ID:</label>
        <input type="text" id="equipment_id" name="equipment_id"><br><br>

        <button type="submit">Send</button>

    </form>

<a href="/equipment_in_area/">Return to areas and equipment</a>
</body>
</html>