<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update employee page</title>
</head>
<body>
  <h1>Update Production Area</h1>
    <form action="/production_area/update_production_area/" method="POST">
        <label for="production_area_id">Production area ID:</label>
        <input type="text" id="production_area_id" name="production_area_id"><br><br>

        <label for="name">Production area name:</label>
        <input type="text" id="name" name="name"><br><br>

        <button type="submit">Send</button>
    </form>

    <a href="/production_area/">Return to production areas</a>
</body>
</html>