<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>This is the home page of the site</h1>
    <h2>This lab work was created by Mikita Nahla</h2>

<a href="/production_area/">Go to production area</a><br><br>
<a href="/equipment/">Go to equipment</a><br><br>
<a href="/equipment_in_area/">Go to equipment in the area</a><br><br>
<a href="/employees/">Go to employees</a><br><br>
<a href="/tech_failure/">Go to tech failure</a><br><br>
<a href="/tech_inspection/">Go to tech inspection</a><br><br>

</body>
</html>