<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update employee page</title>
</head>
<body>
  <h1>Форма</h1>
    <form action="/employees/update_employee/" method="POST">
        <label for="id">Id:</label>
        <input type="text" id="id" name="id"><br><br>

        <label for="full_name">Full name:</label>
        <input type="text" id="full_name" name="name"><br><br>

        <label for="job_title">Job title:</label>
        <input type="text" id="job_title" name="title"><br><br>

        <button type="submit">Send</button>
    </form>

    <a href="/employees/">Return to employees</a>
</body>
</html>